.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #ffafbd, #ffc3a0);
}

.app__body {
  display: flex;
  max-width: 85vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  padding: 20px;
}

.app__side-picture {
  width: 300px;
  max-width: 300px;
  margin-right: 20px;
  background-image: url(./media/pizza-2068272_1920.jpg);
  background-size: cover;
}
